
body {
    background-color: black;
}

header img{
    width: 100%;
}

.primera-parte img{
    height: 300px;
    width: 100%;
}

.segunda-parte{
    background-color: gray;
}

.tercera-parte img {
    height: 200px;
    width: 100%;
}


.footer {
    background-color: gray;
}