
body {
    background-color: black;
    width: 100%;
    overflow-x: hidden;
}

.titulos {
    text-align: center;
    color: white;
    width: 100%;
}

header img {
    width: 100%;
}
.primera-parte{
    width: 100%;
    color: white;
}
.primera-parte div {
    width: 39%;
    display: inline-block;
    margin: 5.2%;
}


.primera-parte img {
    height: 275px;
    width: 100%;
}

.segunda-parte {
    background-color: gray;
    width: 100%;
    display: inline-block;
}

.segunda-parte div{
    display: inline-block;
    width: 29.8%;
}

.segunda-parte p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;

}

.tercera-parte{
    margin: 7%;
    margin-top: 3%;
    margin-bottom: 3%;

}
.tercera-parte div{
    display: inline-block;
    width: 32%;
    margin: 0.5%;
}
.tercera-parte div img{
    width: 100%;
    height: 346.12px;
}

.footer {
    background-color: gray;
}

.footer p {
    text-align: center;
    padding: 1%;
    margin: 0px;
    width: 100%;
    color: white;
}

.icono-con-texto div{
    text-align: center;
    display: inline-block;
    width: 100%;
    gap: 80px;
}

.ojo{
    text-align: center;
    margin-left: 5%;
}

.mano{
    text-align: center;
}

.pincel {
    text-align: center;
    margin-right: 5%;
}

i{
    font-size: 50px;
}

.titulo-2 {
    color: white;
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
}
