{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">BOOTCAMP FULLSTACK TALENTO DIGITAL</h1>
  <p class="lead">Talento Digital para Chile es una iniciativa público-privada que impulsa el desarrollo de talento digital, conectando formación, empleabilidad y las necesidades reales del mercado laboral.</p>
  <hr class="my-4">
  <p>Forma personas en habilidades tecnológicas clave mediante programas intensivos y aprendizaje práctico, fortaleciendo trayectorias laborales y aportando a la productividad y la economía del conocimiento.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
  </p>
</div>
</div>
{% endblock %}