html , body {
    background-color: var(--bs-info);
}
header h1{
    text-align: center;
}
.rojo{
    color: red;
    margin: 30px;
}

div img {
    margin: 30px;
}

article div{
    text-align: center;
    margin: auto;
}

article p{
    text-align: center;
}

img {
    width: 400px;
    height: 300px;
}

section div {
    text-align: center;
}

section h2{
    text-align: center;
}

.container-fluid{
    background-color: var(--bs-info);
}

nav {
    border: 2px solid black;
}
